:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --btm-color: #2196f3;
  --main-color: #212121;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

/* ===============HEADER==============*/
.web {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.navigation-studio {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--btm-color);
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--btm-color);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* ===============END HEADER==============*/

/* ===============HERO==============*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #fffff; */
}
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--btm-color);
  color: white;
}
/* ===============END HERO==============*/

/* ===============FEATURES==============*/
.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ===============END FEATURES==============*/
/* ===============ABOUT==============*/
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* ===============END ABOUT==============*/
/* ===============TEAM==============*/
.team-developer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-developer-direction {
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ===============END TEAM==============*/
/* ===============FOOTER==============*/
.footer-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  /*color: #ffffff;*/
}
.address-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;

  /*color: #ffffff;*/
}
.address-mail-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  /*color: rgba(255, 255, 255, 0.6);*/
}

/* ===============PORTFOLIO==============*/

/* ===============BUTTONS==============*/
.buttons-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
}
.buttons-link:hover,
.buttons-link:focus {
  color: #ffffff;
  background-color: var(--btm-color);
}

/* ===============END BUTTONS==============*/

/* ===============CATEGORY==============*/
.category-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.category-name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ===============END CATEGORY==============*/
